body{
    background-image:url(http://p1.pichost.me/i/32/1547444.jpg);
}

div {
    position:relative;
	display: inline-block;
	margin-left: 5px;
	margin-top:5px;
	height:100px;
	width:100px;
	border-radius:100%;
	border:2px solid black;
	text-align:center;
	
}
